{% extends 'post/base.html'%}
{%block body %}
<!--cols-->
<div class="cols cols-full cols-full">
    <!--colleft-->
    <div class="colleft">
        <!--detail-->
        <article class="detail">
            <div class="content-700">
                <br />
                <h1 class="text-center">
                    {{post.title|safe}}
                </h1>
                <div class="post-meta">
                    <span class="post-category">
                        <a href="category_three.html">{{post.category}}</a>
                    </span>
                    <em>/</em>
                    <span class="post-date">
                        {{post.date}}
                    </span>
                    <div class="share-posts">
                        <span>
                            Share
                        </span>
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/home?status={{ share_string }}%20{{request.build_absolute_uri}}" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
                    </div>
                </div>
            </div>
            <div class="content-700">
                <div class="w3-container w3-middle">
                    {% if post.image %}
                    <img class="w3-card-4" alt="" src="{{post.image.url}}"/>
                {% endif %}
                </div>
            </div>
            <div class="content-700">
                <div class="detail-content detail-content-one">
                    <p>
                        {{ post.post|safe }}
                    </p>
                    <br />
                    {% if post.image %}
                    <img alt="" src=" " style="float:left;max-width:300px;margin:5px 20px 15px 0px" />
                    {% endif %}
                    <p>
                        {{ post.post_para_2|safe }}

                    </p>
                    <p>
                        {{ post.post_para_3|safe }}
                    </p>
                </div>
            </div>


            <br>
            <div class="content-700">
                <h2>The captions</h2>
                <div class="detail-content detail-content-one">
                    <p>{{post.captions|safe}}</p>
                    <p>
                        {{post.captions_para_2|safe}}
                    </p>
                    <p>
                        {{post.captions_para_3|safe}}
                    </p>
                </div>
                {% if post.quote  %}
                <blockquote class="quote-item">
                        <div class="quote-item-content">
                            <p> {{post.quote}}</p>
                            <span>- {{post.quote_by}}</span>
                        </div>
                </blockquote>
                {% endif %}
                <h3 class="author-article text-right">- MorningNation</h3>
            </div>
            <div class="social-article">
                <a href="#" class="facebook">facebook</a>
                <a href="#" class="google">google</a>
                <a href="#" class="twitter">twitter</a>
                <a href="#" class="instagram">instagram</a>
            </div>


        </article>

        <!--related-post-->
        <div class="box-caption box-caption-small">
            <h2><span>RELATED POSTS</span></h2>
        </div>
        <div class="three-articles">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <article class="three-item">
                        <div class="ciz-thumb">
                            <a href="{{post.related_link_1}}"><img alt="" src="{{post.related_link_1}}" /></a>
                        </div>
                        <h5><a href="single.html">{{post.related_post_1}}</a></h5>

                    </article>

                </div>
                <div class="col-md-4 col-xs-12">
                    <article class="three-item">
                        <div class="ciz-thumb">
                            <a href="{{post.related_link_2}}"><img alt="" src="{{post.related_link_2}}" /></a>
                        </div>

                        <h5><a href="single.html">{{post.related_post_2}}</a></h5>

                    </article>
                </div>
                <div class="col-md-4 col-xs-12">
                    <article class="three-item">
                        <div class="ciz-thumb">
                            <a href="{{post.related_link_3}}"><img alt="" src="{{post.related_link_3}}" /></a>
                        </div>

                        <h5><a href="single.html">{{post.related_post_3}}</a></h5>

                    </article>
                </div>
            </div>
        </div>
        <!--comment-->
        <!--&lt;!&ndash;comment&ndash;&gt;-->
        <!--<div id="comments" class="comments-area">-->
            <!--<div class="detail-caption">-->
                <!--<span> 2  COMMENTS</span>-->
            <!--</div>-->
            <!--<ol class="comment-list">-->
                <!--<li class="comment">-->
                    <!--<article class="comment-body">-->
                        <!--<footer class="comment-meta">-->
                            <!--<div class="comment-author vcard">-->
                                <!--<img alt="" src="http://www.cizthemes.com/template/ciznews/images/avatar2.jpg" class="avatar avatar-32 photo">-->
                                <!--<b class="fn">John Doe</b> <span class="says">says:</span>-->
                            <!--</div>-->

                            <!--<div class="comment-metadata">-->
                                <!--Mar 01 at 8:35 am-->
                            <!--</div>-->
                        <!--</footer>-->

                        <!--<div class="comment-content">-->
                            <!--<p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>-->
                        <!--</div>-->

                        <!--<div class="reply"><a rel="nofollow" class="comment-reply-link" href="http://www.danhcong.com/themes/teznews/2016/11/11/master-the-art-of-making-great-coffee-with-these-6-tips/?replytocom=43#respond" onclick="return addComment.moveForm( &quot;div-comment-43&quot;, &quot;43&quot;, &quot;respond&quot;, &quot;756&quot; )" aria-label="Reply to SlicerMan">Reply</a></div>-->
                    <!--</article>-->
                    <!--<ol class="children">-->
                        <!--<li class="comment odd alt depth-2">-->
                            <!--<article class="comment-body">-->
                                <!--<footer class="comment-meta">-->
                                    <!--<div class="comment-author vcard">-->
                                        <!--<img alt="" src="http://www.cizthemes.com/template/ciznews/images/avatar1.jpg" class="avatar">-->
                                        <!--<b class="fn">Admin</b> <span class="says">says:</span>-->
                                    <!--</div>-->

                                    <!--<div class="comment-metadata">-->
                                        <!--Mar 01 at 9:35 am-->
                                    <!--</div>-->
                                <!--</footer>-->

                                <!--<div class="comment-content">-->
                                    <!--<p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Mauris blandit aliquet elit.</p>-->
                                <!--</div>-->

                                <!--<div class="reply"><a rel="nofollow" class="comment-reply-link" href="http://www.danhcong.com/themes/teznews/2016/11/11/master-the-art-of-making-great-coffee-with-these-6-tips/?replytocom=44#respond" onclick="return addComment.moveForm( &quot;div-comment-44&quot;, &quot;44&quot;, &quot;respond&quot;, &quot;756&quot; )" aria-label="Reply to SlicerMan">Reply</a></div>-->
                            <!--</article>-->
                        <!--</li>-->
                    <!--</ol>-->
                <!--</li>-->
                <!--<li class="comment">-->
                    <!--<article class="comment-body">-->
                        <!--<footer class="comment-meta">-->
                            <!--<div class="comment-author vcard">-->
                                <!--<img alt="" src="http://www.cizthemes.com/template/ciznews/images/avatar.jpg" class="avatar avatar-32 photo">-->
                                <!--<b class="fn">Tony Baby </b> <span class="says">says:</span>-->
                            <!--</div>-->
                            <!--<div class="comment-metadata">-->
                                <!--Mar 01 at 9:20 am-->
                            <!--</div>-->
                        <!--</footer>-->
                        <!--<div class="comment-content">-->
                            <!--<p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.  consectetur adipiscing elit. Vivamus suscipit tortor eget felis porttitor volutpat.</p>-->
                        <!--</div>-->
                        <!--<div class="reply"><a rel="nofollow" class="comment-reply-link" href="http://www.danhcong.com/themes/teznews/2016/11/11/master-the-art-of-making-great-coffee-with-these-6-tips/?replytocom=43#respond" onclick="return addComment.moveForm( &quot;div-comment-43&quot;, &quot;43&quot;, &quot;respond&quot;, &quot;756&quot; )" aria-label="Reply to SlicerMan">Reply</a></div>-->
                    <!--</article>-->
                <!--</li>-->
            <!--</ol>-->
            <!--<div class="comment-respond">-->
                <!--<div class="comment-reply-title">-->
                    <!--<div class="detail-caption">-->
                        <!--<span>  Leave a reply</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div id="commentform" class="comment-form">-->
                    <!--<div class="field-item">-->
                        <!--<textarea id="comment" name="comment" aria-required="true" placeholder="Your Comment Here.."></textarea>-->
                    <!--</div><div class="row">-->
                        <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
                            <!--<div class="field-item">-->
                                <!--<input id="author" name="author" placeholder="Name *" type="text" value="" tabindex="1">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
                            <!--<div class="field-item">-->
                                <!--<input id="email" name="email" placeholder="Email *" type="text" value="" tabindex="2">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<p class="form-submit">-->
                        <!--<input name="submit" type="submit" class="my-btn my-btn-dark" value="SUBMIT" />-->

                    <!--</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>
{% endblock %}

